{% extends "layout.html" %}
{% set active_page = "flights" %}

{% block title %}Flight{% endblock %}

{% block page_content %}
<h1>Create New Flight</h1>

<form action="{{ url_for('flights.save') }}" method="post">
  <div class="form-group">
    <label for="flightNumber">Number</label>
    <input type="text" class="form-control" id="flightNumber" name="number">
  </div>

  <div class="form-group">
    <label for="flightAirport">Airport</label>
    <select class="form-control" id="flightAirport" name="airport_id">
      <option value="error">Do not select this!</option>
      {% for airport in airports %}
      <option value="{{airport.id}}">{{ airport }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="form-group">
    <label for="flightDestination">Destination</label>
    <select class="form-control" id="flightDestination" name="destination_id">
      {% for location in locations %}
      <option value="{{location.id}}">{{ location }}</option>
      {% endfor %}
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock page_content %}